* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  height: 100px;
  background: white;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-content: space-around;
  margin: 13px;
  padding: 14px;
  justify-content: center;
}

.boxnav {
  width: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.containerdescription {
  height: 200px;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptif {
  font-size: 30px;
  font-weight: bold;
}

.onglet {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.onglet1 {
  background: rgba(128, 128, 128, 0.289);
  border: solid 1px;
  border-radius: 25px;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

header {
  height: 1015px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.boxheider {
  width: 100vw;
  height: 100%;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 4px;
}

.pésentation {
  /* z-index: 200; */
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logosite {
  width: 771px;
}

h1,
h2,
.btnintro {
  margin-top: 25px;
  color: white;
}

.btnintro {
  margin-top: 50px;
}

#text2 {
  font-size: 35px;
}

#text3 {
  color: azure;
  text-decoration: none;
  padding: 5px;
  width: 249px;
  border: solid 1px;
  padding: 15px;
}

.containeursectiongaming {
  padding: 99px;
  background-color: rgba(0, 0, 0, 0.885);
  width: 100vw;
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectiongamin {
  width: 100vw;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

#logogbs {
  width: 400px;
  height: 300px;
}

h2 {
  font-size: 30px;
  color: white;
}

.paragraph {
  color: azure;
  font-size: 25px;
  width: 431px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.btn {
  color: azure;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.btn1 {
  border: solid 1px white;
  width: 311px;
  height: 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 62px;
}

#titrenew,
.newstitre1 {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.newstitre1 {
  padding-top: 100px;
  background-color: #eed9d9;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.containeurnewscampus {
  padding: 50px;
  background-color: #eed9d9;
  width: 100vw;
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

#NEWSROOM {
  border: solid 1px;
  padding: 10px;
  font-size: 28px;
}

.newstitre {
  display: flex;
}

.paragraph1 {
  color: black;
  font-size: 25px;
  width: 431px;
  text-align: left;
}

.btn2 {
  width: 311px;
  height: 55px;
  text-align: left;
}

.btn21 {
  color: black;
}

.info,
.boxinfo {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 133px;
}

#logogaminginfo {
  height: 261px;
}

.titlefooter {
  margin-bottom: 40px;
  font-size: 30px;
}

p {
  font-size: 25px;
}

.subbox {
  width: 300px;
}

.paragraphinfo {
  line-height: 2em;
}

.imagepress {
  width: 100px;
  margin-right: 80px;
}

.pub {
  display: flex;
  height: 100px;
  margin-left: 344px

  
}

#boximag {
  margin-right: 490px;
  margin-left: 150px;
  
}



